.chess {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  color: orange;
}
.chess tbody tr #white {
  background-color: white;
}

.chess tbody tr {
  padding: 0.5em;
}
.chess tbody td {
  width: 5em;
  height: 5em;
  text-align: center;
  vertical-align: middle;
}
.chess tbody tr:nth-child(odd) td:nth-child(odd) {
  background: orange;
}
.chess tbody tr:nth-child(even) td:nth-child(even) {
  background: orange;
}
.chess tbody tr:nth-child(even) td:nth-child(odd) {
  background: oldlace;
}
.chess tbody tr:nth-child(odd) td:nth-child(even) {
  background: oldlace;
}
