.green {
  color: green;
}
.red {
  color: red;
}
.tableOfStocks {
  width: 100%;
  border: none;
  margin-bottom: 20px;
}
.tableOfStocks thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
  background: #d8d8d8;
  font-size: 14px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tableOfStocks tbody td {
  text-align: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.tableOfStocks thead tr th:first-child,
.tableOfStocks tbody tr td:first-child {
  border-left: none;
}
.tableOfStocks thead tr th:last-child,
.tableOfStocks tbody tr td:last-child {
  border-right: none;
}
.tableOfStocks tbody tr:nth-child(even) {
  background: #f3f3f3;
}
